@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --first-color: #d3d5da;
  --seconde-color: #465b52;
  --third-color: #f59e0b;
  --forth-color: #088178;
  --dark-forth-color: '#054b46';
  --fifth-color: #222;
  --six-color: #777;
  --seven-color: #ccc;
  --purple-color: #920592;
  --white-color: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
  color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background-color: #088178;
}
::-webkit-scrollbar-thumb {
  background-color: #c6c6c6;
  border-radius: 10px;
}

.before\\:content-var::before {
  content: var(--before-content);
}
